@keyframes expandirContraer {
    0% {
        transform: scale(1); /* Tamaño original */
    }
    50% {
        transform: scale(1.1); /* Más grande */
    }
    100% {
        transform: scale(1); /* De vuelta al tamaño original */
    }
}



.card-container{

background-image: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.411)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeRATR7mfczDSjb36BJL5I3r2VmVkiJHyu2Q&s) ;


background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;
}

.card{

transition: 1s ease width, 1s ease box-shadow;

width: 325px;
background-color: #f0f0f0;
 overflow: hidden; 
border-radius: 8px;
margin: 20px;
box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}



.card:hover{
    animation: expandirContraer 1s infinite; 
width: 425px;
border-color:orange ;
box-shadow: 1px 3px 5px 10px rgba(93, 77, 236, 0.386);
cursor: crosshair;
}


/**/

.card img{

    width: 100%; 
    height: auto;
    
}




/**/
.card-contenido{

padding: 16px;    
}
.card-contenido h3{
color: #1a1a2e;
font-size: 28px;
margin-bottom: 8px;
}

.card-contenido p{
color: black;
    font-size: 15px;
    line-height: 1.3;
}

.card-contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #1b9eda;
    margin-top: 16px;
    border-radius: 4px;
    color: #f0f0f0;
}


