.contenedor-consejos{

background-image:linear-gradient(rgba(0, 0, 0, 0.508), rgba(0, 0, 0, 0.59)),  url(https://png.pngtree.com/background/20210715/original/pngtree-plant-palm-leaf-simple-background-picture-image_1325702.jpg) ;



background-repeat: no-repeat;
background-position: center;
background-size: cover;


}